<footer class="footer " style="background-color: #31363F; ">
    <div class="container-fluid align-content-center text-center">
            <div class="">
                <script>document.write(new Date())</script> 
            </div>


    </div>
</footer>