<header id="page-topbar" style="background-color: #222831;">
    <div class="navbar-header" style="background-color: #222831;">
        <div class="container-fluid" style="background-color: #222831;">
            <div class="float-right">
                <!-- LOGO -->


                <div class="px-3 text-center mt-4">

                    <div  style="font-family: Roboto;">
                        <a href="/">
                          <p style="font-size: 30px;font-weight: bold; color: white;">
                            Divar<span style="font-family: Roboto; color: rgb(249 115 22 / 1);">CHE</span>
                          </p>
                        </a>
                      </div>
                </div>


            </div>
            <div>
                <button type="button" class="btn btn-sm px-3 font-size-16 header-item toggle-btn waves-effect mt-4"
                    id="vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
            </div>


</header>