


<div class="vertical-menu " style="background-color: #31363F;">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <!-- <div class="user-img">
                <img src="/assets/style-admin/images/users/admin user.png" alt="" class="avatar-md mx-auto rounded-circle">
            </div> -->

            <div class="mt-3">

                <a href="#" class="text-white font-weight-medium font-size-18 line-height-h">ابوالفضل قادری</a>
                <p class="text-body mt-1 mb-0 font-size-13">User</p>

            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="#" class="waves-effect text-white tt">
                        <i class="mdi mdi-airplay tt"></i>
                        <span class="fontController">داشبورد</span>
                    </a>

                </li>
                <li>
                    <a href="#" class="waves-effect text-white tt" >
                        <i class="mdi mdi-clipboard-list-outline"></i>
                       <span class="fontController">آگهی ها</span>
                    </a>

                </li>


                <!-- <li>
                    <a href="javascript:%20void(0);" class="has-arrow waves-effect text-white tt">
                        <i class="mdi dripicons-trophy "></i>
                        <span class="fontController">آگهی ها</span>
                    </a>
                    <ul class="sub-menu text-white " aria-expanded="false">
                        <li><a class="tt text-white fontController" href="#">اضافه کردن آگهی</a></li>
                        <li><a  class="tt text-white " href="#">ویرایش آگهی</a></li>
                    </ul>
                </li> -->





            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <style>
        .tt:hover{
            background: rgb(249 115 22 / 1);
            color: white !important;
            border-radius: 15px;

        }

    </style>
</div>