
<footer class="mt-[60px] mb-5 rounded-lg shadow bg-gray-900 " dir="ltr">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex items-center justify-between">
            <div class=" text-white font-roboto">
                <p class="text-[25px]">Divar<span class="text-orange-500 font-bold">CHE</span></p>
            </div>

            <div
                class=" max-sm:px-1 max-sm:text-[12px] flex text-white font-bold font-vazirmatn text-sm shadow-xl   px-3 rounded-xl bg-[#393d43]   border-solid border-2 border-violet-500/0 hover:border-violet-500/70 transition duration-300">
                <a class="p-3 cursor-pointer" href="https://github.com/AbolfazlGhaderi"><i
                        class="fa-brands fa-github"></i> <i class="fa-brands"></i> GitHub</a>

            </div>

        </div>
        <hr class="my-6 border-gray-200 mx-auto  lg:my-8" />
        <span class="block text-sm text-gray-500 text-center ">© 2024 <a
                href="https://github.com/AbolfazlGhaderi" class="hover:underline">Abolfazl
                Ghaderi</a></span>
    </div>
</footer>